import(multgee,kinship2)
export(design.1locus,design.dichotomous,design.endo2disease,design.full,fat2Lpoly,fat2Lpoly.withinR,get.scores.pvalues,read.merlin.files,calcule.poids.Chen,calcule.poids.alphafixe)
importFrom("stats", "binomial", "glm", "pchisq", "pnorm")
importFrom("utils", "read.table")
